DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
SEND_MESSAGE_URL="https://HOST/send"
UPLOAD_MEDIA_URL="https://HOST/upload-media"
APPROVE_PROFESSIONAL_URL=""


RUN_SEND_MESSAGE_INTEGRATION_TEST=true
TEST_PHONE_NUMBER=5511974527717